#ghost1 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 5%;
    height: auto;
    max-height: 90vh;
    max-width: 100%;
  }
  #ghost2 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 7%;
    height: auto;
    max-height: 90vh;
    max-width: 100%;
  }
  #mansion {
    top: 50px;
    left: 50px;
    width: 50%;
    height: auto;
    margin-top: -25px;
    margin-left: -25px;
    max-height: 90vh;
    max-width: 100%;
  }
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color:rgb(63, 46, 46);
  }
  .Text_start {
    top: 50px;
    left: 50px;
    width: 50%;
    height: auto;
    margin-top: -25px;
    margin-left: -25px;
    max-height: 90vh;
    max-width: 100%;
    color: white
  }
 
  